.mainForm {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: 1px solid black;
  min-width: 500px;
  width: 70%;
  padding: 25px;
  box-sizing: border-box;
}

.spaceBetween {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10%;
  box-sizing: border-box;
}
