.btn {
  min-width: 200px;
  height: 50px;
  background-color: darkslategrey;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 10px;
  min-height: 35px;
  margin: 5px 5px;
}
